* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}


a{
    text-decoration: none;
}


.container{
    margin-left: 40px;
    margin-right: 40px;
}



.heading {
    background-color: black;
}
.heading .container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}


.heading .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heading .logo img{
    width: 43px;
    margin-right: 10px;
}
.heading .logo span{
    color: #F25123;
    font-size: 30px;
    font-family: 'Lily Script One', cursive;
}


.heading .links ul{
    list-style: none;
    display: flex;
}
.heading .links ul li{
    margin-right: 60px;
    font-size: 30px;
}

.heading .icons i{
    font-size: 30px;
    color: #F25123;
    margin-right: 10px;
}












/* landing' */




.landing{
    background-color: black;
    padding-top: 100px;
}


.landing .container{
    display: flex;
}


.landing .container h1{
    font-size: 90px;
}

.landing .container h1:last-of-type{
    color: #F25123;
}


.landing .content{
    flex: 2;
}

.landing .container p{
    font-size: 22px;
    color: #87868E;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 27px;
} 

.landing .container a{
    font-size: 24px;
    background-color: #F25123;
    padding: 12px 62px;
    border-radius: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.landing .container .icons i{
    font-size: 30px;
    color: #F25123;
    margin-left: 10px;
}









.landing .image{
    position: relative;
    flex: 1;
}


.landing .image .circle{
    border-radius: 50%;
    border-color: #F25123;
    border-style: solid;
    border-width: 50px;
    width: 642px;
    height: 642px;
}


.landing .image img{
    width: 880px;
    height: 726px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.landing .container .flowers{
    flex: 1;
    position: relative;
}
.landing .container .flowers i{
    color: #F25123;
}
.landing .container .flowers .one{
    font-size: 150px;
}


.landing .container .flowers .two{
    font-size: 100px;
    top: 40%;
    position: absolute;
}

.landing .container .flowers .three{
    font-size: 70px;
    bottom: 20%;
    left: 20%;
    position: absolute;
}






/* progress part */




.progress{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.progress .circle{
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    background: #2d2d2d linear-gradient(to right , transparent 50%, #F25123 0);
}

.progress .circle h3 span{
    font-size: 20px;
}

.progress .circle h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 1;
}

.progress .circle > span{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: #F25123;
    text-wrap: nowrap;
    z-index: 1;
}




.progress .circle::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}




.progress .circle::before{
    background: #F25123;
    transform: rotate(calc((var(--i) - 50) * 0.01turn ));
}

.progress .circle.js::before{
    background: #2d2d2d;
    transform: rotate(calc((var(--i)) * 0.01turn ));
}



.progress .circle::after{
    content: '';
    position: absolute;
    inset: 15px;
    border-radius: 50%;
    background-color: #2d2d2d;
}








/* welcome start */



.welcome{
    background-color: black;
    padding-top: 60px;
}


.welcome .container{
    display: flex;
    align-content: center;
    gap: 30px;
}

.welcome .content{
    flex: 1.2;
    padding-top: 40px;
}




.welcome .pics{
    display: grid;
    flex: 1;
    grid-template-areas: "one one one " "two two three" "four five five";
    gap: 20px;
    overflow: hidden;
}

.welcome .pics img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.welcome .pics .one{
    grid-area: one;
    height: 250px;
}

.welcome .pics .two{
    grid-area: two;
    height: 204px;
}
.welcome .pics .three{
    grid-area: three;
    height: 204px;
}
.welcome .pics .four{
    grid-area: four;
    height: 204px;
}

.welcome .pics .five{
    grid-area: five;
    height: 204px;
}






.welcome .content h4{
    font-weight: normal;
    color: #F25123;
    margin-bottom: 10px;
}




.welcome .content h2{
    font-size: 65px;
}

.welcome .content h2:last-of-type{
    color: #F25123;
    margin-bottom: 20px;
}

.welcome .content p{
    color: #87868E;
    margin-bottom: 30px;
    max-width: 850px;
    font-size: 21px;
}


.welcome .more{
    display: flex;
    font-size: 21px;
    align-items: center;
    margin-bottom: 40px;
}

.welcome .more span{
    font-weight: bold;
    margin-right: 15px;
}

.welcome .more i{
    font-size: 30px;
    color: #F25123;
    margin-right: 10px;
}


.welcome a{
    color: black;
    background-color: #F25123;
    border-radius: 90px;
    display: inline-block;
    Padding:12px 62px;
    font-size: 24px;
    font-weight: bold;
}   








/* Start about section */



.about{
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .container h1{
    text-align: center;
    font-size: 65px;
}

.about .container h1:last-of-type{
    color: #F25123;
    margin-bottom: 40px;
}

.about .boxes {
    display: flex;
    justify-content: space-between;
}

.about .boxes .box{
    width: 23%;
    padding: 40px 30px;
    background-image: linear-gradient(#2d2d2d, #000);
    border-radius: 20px;
    border-color: #2d2d2d;
    border-width: 2px;
    border-style: solid;
}

.about .boxes .box i{
    font-size: 50px;
    color: #F25123;
    margin-bottom: 10px;
}


.about .boxes .box h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.about .boxes .box p{
    color: #87868E;
    font-size: 21px;
    margin-bottom: 10px;
}


.about .boxes .box a{
    color: #F25123;
    margin-bottom: 10px;
}










/* Start footer section */



.footer{
    position: relative;
    background-color: rgba(0,0,0, 0.2);
}


.footer .background{
    background-image: url("assets/image3.jpg");
    filter: blur(25px);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.footer .container{
    padding: 50px 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
}


.footer .container .box{
    width: 23%;
}


.footer .msp{

}



.footer .title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer .title .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .title img{
    width: 80px;
    margin-right: 5px;
}

.footer .title span{
    font-size: 25px;
    font-family: 'Lily Script One', cursive;
    margin: auto;
}

.footer .title span:last-of-type{
    font-size: 15px;
    color: #87868E;
    text-align: center;
}


.footer .msp p{
    font-size: 19px;
    color: #87868E;
    margin-bottom: 20px;
}



.footer .msp a{
    margin-bottom: 20px;
    display: inline-block;
}


.footer .msp i{
    color: #87868E;
    font-size: 30px;
    margin-right: 10px;
}

.footer .company {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .company h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer .company ul{
    list-style: none;
}

.footer .company li{
    margin-bottom: 10px;
}

.footer .company li a{
    color: #87868E;
}

.footer .contact h3{
    font-size: 28px;
    margin-bottom: 20px;
}


.footer .contact .line{
    width: 100%;
    height: 3px;
    background-color: #F25123;
    margin-bottom: 20px;
}


.footer .contact ul{
    list-style: none;
}


.footer .contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.footer .contact ul li i{
    color: #F25123;
    margin-right: 10px;
}


.footer .contact ul li p{
    color: #87868E;
}


